<footer class="px-4">
  <div class="max-w-6xl mx-auto mt-20 md:mt-40 mb-4 flex justify-between border-t border-slate-500 pt-10">
    <div>
    <p class="text-gray-400">All content &copy; Al Sessions, 2024</p>
    </div>
    <div>
    {% if currentUser and entry is defined %}
       <p><a href="{{ entry.cpEditUrl }}" class="text-gray-400 hover:text-gray-900">Edit this entry.</a></p>
    {% endif %}
    </div>
</footer>