<footer class="px-4">
  <div class="max-w-5xl mx-auto mt-20 mb-10 flex justify-between">
    <div>
    <p>All content &copy; Al Sessions, 2024</p>
    </div>
    <div>
    {% if currentUser and entry is defined %}
       <p><a href="{{ entry.cpEditUrl }}" class="text-gray-600 hover:text-gray-900">Edit this entry</a></p>
    {% endif %}
    </div>
</footer>