{% if entry.image | length %}
{% set asset = entry.image.one() %}
{{ asset.optimizedImage.imgTag()
    .imgAttrs({
        'class': "mx-auto rounded max-w-4xl ",
        'alt': asset.title,
    })
    .loadingStrategy('lazy')
    .placeholder('image')
    .render() }}

   <p class="mx-auto text-center  text-gray-600  -mt-4 not-prose">{{ entry. caption }}</p>

   {% endif %}