{% if entry.image | length %}
{% set asset = entry.image.one() %}
{{ asset.optimizedImage.imgTag()
    .imgAttrs({
        'class': "mx-auto rounded ",
        'alt': asset.title,
    })
    .loadingStrategy('lazy')
    .placeholder('image')
    .render() }}

   <p class="mx-auto text-center text-slate-300 italic -mt-6 not-prose">{{ entry. caption }}</p>

   {% endif %}