{% extends "_layouts/_layout.twig" %} 

{% block content %} 

{% set image = entry.image.one() %}
<div class="py-20 prose-h2:mt-4">
    <h1>{{ entry.title }}</h1>
    <h2 >{{ entry.description }} </h2>
</div>
    <div class="mt-10 min-h-screen">
        <!-- CKEditor block styles in templates/_partials/entry/* -->
        {{ entry.longformContent }}
    </div>


    {% endblock %}

