{% extends "_layouts/_layout.twig" %} 

{% block content %} 

<div class="w-full bg-slate-800 py-6 md:py-20">
    <div class="py-4 md:py-10 px-2 prose-h1:mb-2 prose-h3:mt-0 md:prose-h3:mt-4 prose-h1:text-white prose-h3:text-white mx-auto max-w-4xl">
    <h1>{{ entry.title }}</h1>
    <h3>{{ entry.description }} </h3>
</div>
</div>
<div class="mt-10 min-h-screen max-w-4xl mx-auto">
        <!-- CKEditor block styles in templates/_partials/entry/* -->
        {{ entry.longformContent }}
    </div>
</div>

    {% endblock %}

