{% extends "_layouts/_layout.twig" %}

   {% block content %}
   <div class="w-full bg-gray-200">
      <div class="py-10 prose-h3:mt-4 mx-auto max-w-4xl">
      <h1>{{ entry.title }}</h1>
      <h3 >{{ entry.description }} </h3>
   </div>
   </div>
   <div class="mt-10 min-h-screen max-w-4xl mx-auto">

    {{ entry.richContent }}
       <div class="not-prose md:max-w-3xl">
        {{ craft.formie.renderForm('contact') }}

       </div>
   </div>

   {% endblock %}