<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>10 Tower Mews</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=6.0, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link href="/css/styles.css" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="/css/glightbox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
   
</head>
<body class="ltr bg-slate-800">
    {% include '_partials/_nav.twig' %}

   {% block content %}
   <div id="container" class="prose prose-slate prose-p:text-xl prose-p:leading-relaxed max-w-5xl mx-auto my-20 px-4">
    <h1>Thanks</h1>
    <p>Feel free to carry on.</p>
       
   
   {% endblock %}